/Tarea2/nbproject/private/
/Tarea2/build/
/[[]EDD]Proyecto1_201602713/[[]EDD]Proyecto1_Servidor/nbproject/private/
/[[]EDD]Proyecto1_201602713/[[]EDD]Proyecto1_Servidor/build/
/[[]EDD]Proyecto1_201602713/[[]EDD]Proyecto1_Servidor/dist/
/[[]EDD]Proyecto1_201602713/[[]EDD]Proyecto1_Cliente/nbproject/private/
/[[]EDD]Proyecto1_201602713/[[]EDD]Proyecto1_Cliente/build/